{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block page_title %}{{ page_title }}{% endblock page_title %}</title>
        <meta name="description" content="Responsive, Bootstrap, BS4" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- for ios 7 style, multi-resolution icon of 152x152 -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
        <link rel="apple-touch-icon" href="{% static 'apply/images/logo.png' %}">
        <meta name="apple-mobile-web-app-title" content="Flatkit">
        <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" sizes="196x196" href="{% static 'apply/images/logo.png' %}">
        <!-- style -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- build:css ../assets/css/app.min.css -->
        <link rel="stylesheet" href="{% static "reinhardt/apply/css/bootstrap.min.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "reinhardt/apply/css/app.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "reinhardt/apply/css/style.css" %}" type="text/css" />
        <link rel="stylesheet" href="{% static "reinhardt/apply/css/dataTables.bootstrap4.css" %}" type="text/css" />
        <!-- endbuild -->
    </head>
    {% block body %}
        <body>
        <div class="app" id="app">
            <!-- Sidebar Start -->
            {% block sidebar %}
                {% include 'apply/sidebar/sidebar.html' %}
            {% endblock %}
            <!-- Sidebar End -->

            <!-- Content Start -->
            <div id="content" class="app-content box-shadow-0" role="main">
                <!-- Header Start -->
                <div class="content-header white  box-shadow-0" id="content-header">
                    <div class="navbar navbar-expand-lg">
                        <!-- btn to toggle sidenav on small screen -->
                        <a class="d-lg-none mx-2" data-toggle="modal" data-target="#aside" data-pjax-state="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512">
                                <path d="M80 304h352v16H80zM80 248h352v16H80zM80 192h352v16H80z"></path>
                            </svg>
                        </a>
                        <!-- Page title -->
                        <div class="navbar-text nav-title flex" id="pageTitle">{% block navbar_title %}{{ page_title }}{% endblock navbar_title %}</div>
                    </div>
                </div>
                <!-- Header End -->
                <!-- Main Content Start -->
                <div class="content-main " id="content-main">
                    <div class="padding">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <!-- Main Content End -->
                <!-- Footer Start -->
                <div class="content-footer white hide" id="content-footer">
                    <div class="d-flex p-3">
                        <span class="text-sm text-muted flex">&copy; Copyright. Flatfull</span>
                        <div class="text-sm text-muted">Version 1.2.0</div>
                    </div>
                </div>
                <!-- Footer End -->
            </div>
        </div>
        <!-- build:js ../assets/js/app.min.js -->
        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
        <!-- endbuild -->
        {% block extra_js %}{% endblock %}
    </body>
    {% endblock %}
</html>